<!DOCTYPE html>
<html>
<head>
    <%- include ('../include_head') %>
    <style>
        table.tb-view{
          background-color: #E9ECEF;
        }
        table.tb-view th{
          background-color: #E9ECEF;
          text-align: right;
        }
        table.tb-view td{
          background-color: white;
        }
      </style>
      <script>
          $(function(){
              $("button").click(function(){
                  let thisClass=$(this).attr('class')
                  //문자열.indexOf(찾을문자열)
                  // 문자열 내에 찾을 문자열이 있냐? yes: x>0 no: x<0
                  if(thisClass.indexOf("btn-delete")> 0){
                    if(!confirm("삭제할까여?")){
                        return false;
                    }
                    document.location.replace("/bbs/delete/<%- bbs.b_id %>")
                    return false
                  }
                  else if(thisClass.indexOf("btn-update")> 0){
                    document.location.href="/bbs/update/<%- bbs.b_id %>"
                    return false
                  }
                  else if(thisClass.indexOf("btn-list")> 0){
                      document.location.href="/"
                      return false
                  }
              })
          })
      </script>
</head>
<body>
    <%- include ('../include_header') %>
    <section class="container-fluid">
        <table>
            <tr>
                <th>작성일자</th><td><%- bbs.b_date %></td>
                <th>작성시각</th><td><%- bbs.b_time %></td>
                <th>작성자</th><td><%- bbs.b_writer %></td>
                <th>조회수</th><td><%- bbs.b_count %></td>
            </tr>
            <tr>
                <th>제목</th>
                <td colspan="7"><%- bbs.b_subject %></td>
            </tr>
            <tr>
                <td colspan="8"><%- bbs.b_text %></td>
            </tr>
        </table>
    </section>
    <section>
        <button class="w3-button w3-blue w3-right btn-update">수정</button>
        <button class="w3-button w3-red w3-right btn-delete">삭제</button>
        <button class="w3-button w3-green w3-right btn-list">목록으로</button>
    </section>
</body>
</html>